
h1{
    color:orange;
}

h2{
    color:brown;
}
span{
    
}

img{
    float:right;
    transform:rotate(90deg);
   
}
#cat{
    background-color:yellow;
    font-weight:bold;
    font-family:cursive;
    color: blue;
}

#topMenu li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    background-color:orange;
    cursor:auto;
}
a:hover{
    background-color:brown;
    color:black;
}
